<div id="mypage">
  <div id="content">
      <div class="mypage_contestant">
        <div class="picture">
          <%= image_tag 'suzuki_yuna.jpg' %>
        </div>
        <div class="profile">
          <div class="profile_cotent">
            <h3 class="furigana">すずきゆうな</h3>
            <h2 class="name">鈴木友菜</h2>
            <p class="age">年齢：23</p>
            <p class="hometown">出身：東京都</p>
            <p class="height">身長：165cm</p>
            <p class="appeal">一言アピール！</p>
            <textarea name="comment">鈴木に生まれてきてよかった！</textarea>
            <div class="sns_links">
              <p class="url"><a href="#"><%= image_tag 'btn/btn_tw.png', :width => '80' %></a></p>
            </div>
            <div id="banner_in_profile">
              <%= image_tag 'banner/karaage.jpg' %>
            </div>
          </div>
        </div>
      </div>

      <div class="interview_area">
        <h2>鈴木友菜さんへインタビュー！</h2>
        <table id="interview">
          <tr style="margin-bottom:20px;"><th>好きな食べ物は？</th></tr>
          <tr><td>カレーライスです。お母さんがいつも作ってくれるんですが、なぜかうちはカレーがシャバシャバなんです(笑)</td></tr>
          <tr><th>好きな男性のタイプは？</th></tr>
          <tr><td>色が白くて、でも健康的で爽やかで、金髪が似合う人が好きです。</td></tr>
          <tr><th>マイブームはなんですか？</th></tr>
          <tr><td>グリーンスムージーを作って毎朝飲んでます！女子力です！(笑)</td></tr>
          <tr><th>鈴木に生まれてきてよかった？ その理由も教えてください！</th></tr>
          <tr><td>はい！鈴木さんってクラスに必ず2人はいるので、下の名前でみんなに読んでもらえるのは嬉しいです！</td></tr>
          <tr><th>最後にMISS-SUZUKIへの意気込みをお願いします！</th></tr>
          <tr><td>絶対に日本一かわいい鈴木さんになって、親孝行します！みなさん、応援よろしくお願いします！</td></tr>
        </table>
        <p>ありがとうございました！</p>
      </div>

      <div id="banner_big">
        <%= image_tag 'banner/karaage.jpg' %>
      </div>
  </div>
</div>