<% @stage = 3 %>
<div id="mainimage">
  <%= image_tag "mainimages/mainimage_suzukike.jpg" %>
</div>

<div id="semifinal_message">
  <p>鈴木さんたちに手料理を披露してもらう鈴木家の食卓！<br>今回はYouTubeの再生回数で対決！<br>
  <p>みなさんはどの鈴木さんの手料理が食べたいですか？</p>
</div>

<div class="content_top">
  <div class="content_middle">
  <div class="column column0">

<div id='contestant-390' class="semifinal_contestant">

    <div class="mypage_btn">
      <a href="/contestants/390/mypage"><img width="80" src="/assets/btn/btn_mypage-22e6211b77ee5f928e0055ec584cb804.png" alt="Btn mypage" /></a>
    </div>

  <div class="picture">
      <!-- youtube movie -->
      <iframe max-width="600" src="https://www.youtube.com/embed/EvaR5dEoqCQ" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="profile">
    <p class="url"></p>
    <h3 class="furigana">すずきあさこ</h3>
    <h2 class="name">鈴木朝子</h2>
    <p class="age">年齢：21歳</p>
    <p class="hometown">出身：東京都</p>
    <p class="height">身長：158㎝</p>
    <p class="appeal">一言アピール！</p>

    <textarea readonly name="comment">ももいろクローバーZのファンです！鈴木さんの頂点目指して頑張ります！！！！！</textarea>
  </div>
</div>

      <div id='contestant-7' class="semifinal_contestant">


          <div class="mypage_btn">
            <a href="/contestants/390/mypage"><img width="80" src="/assets/btn/btn_mypage-22e6211b77ee5f928e0055ec584cb804.png" alt="Btn mypage" /></a>
          </div>

        <div class="picture">
            <!-- youtube movie -->
            <iframe max-width="600" src="https://www.youtube.com/embed/da_i9wvvhps" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="profile">
          <p class="url"><a width="80" target="_blank" href="http://mariex.stablo.jp/"><img src="/assets/btn/btn_site-d98887eb27c9126c08a68ce42fea84d0.png" alt="Btn site" /></a></p>
          <h3 class="furigana">すずきまりえ</h3>
          <h2 class="name">鈴木まりえ</h2>
          <p class="age">年齢：36歳</p>
          <p class="hometown">出身：神奈川県</p>
          <p class="height">身長：158cm</p>
          <p class="appeal">一言アピール！</p>

          <textarea readonly name="comment">日本一のナウいぶりっ子目指して！
      大人の事情ってだいたい子供みたいな理由でしょ？なはなはっ♪</textarea>
        </div>
      </div>
            <div class="vote_page_ads">
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- contestants_index_ads -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-3153635342972018"
     data-ad-slot="4162570482"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

            </div>
</div>
      <div class="column column1">
<div id='contestant-841' class="semifinal_contestant">

    <div class="mypage_btn">
      <a href="/contestants/841/mypage"><img width="80" src="/assets/btn/btn_mypage-22e6211b77ee5f928e0055ec584cb804.png" alt="Btn mypage" /></a>
    </div>

  <div class="picture">
      <!-- youtube movie -->
      <iframe max-width="600" src="https://www.youtube.com/embed/8Ywm9x1umDU" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="profile">
    <p class="url"></p>
    <h3 class="furigana">すずきあんな</h3>
    <h2 class="name">鈴木杏奈</h2>
    <p class="age">年齢：ないしょ</p>
    <p class="hometown">出身：静岡県</p>
    <p class="height">身長：153㎝</p>
    <p class="appeal">一言アピール！</p>

    <textarea readonly name="comment">鈴木さんの聖地、静岡からの参戦です！
鈴木がたくさんいると常に名前で呼ばれるので、逆に鈴木さんって言われるとドキっとしちゃいます♡</textarea>
  </div>
</div>
          <div id='contestant-44' class="semifinal_contestant">

    <div class="mypage_btn">
      <a href="/contestants/44/mypage"><img width="80" src="/assets/btn/btn_mypage-22e6211b77ee5f928e0055ec584cb804.png" alt="Btn mypage" /></a>
    </div>

  <div class="picture">
      <!-- youtube movie -->
      <iframe max-width="600" src="https://www.youtube.com/embed/i_yy_OeLxIA" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="profile">
    <p class="url"><a width="80" target="_blank" href="https://twitter.com/misstba_no04"><img src="/assets/btn/btn_tw-d16166044ea29d4c881f2dc8ba3c9d61.png" alt="Btn tw" /></a></p>
    <h3 class="furigana">すずきゆみか</h3>
    <h2 class="name">鈴木優美香</h2>
    <p class="age">年齢：22歳</p>
    <p class="hometown">出身：大阪府</p>
    <p class="height">身長：164cm</p>
    <p class="appeal">一言アピール！</p>

    <textarea readonly name="comment">SUZUKIのレッツGに乗る日を夢見て 今日も鈴木は教習所に通っています。そんな鈴木優美香をミス鈴木にして下さい！</textarea>
  </div>
</div>
            <div class="vote_page_ads">
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- contestants_index_ads -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-3153635342972018"
     data-ad-slot="4162570482"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

</div>



      </div>
      <div class="column column2">

<div id='contestant-55' class="semifinal_contestant">


    <div class="mypage_btn">
      <a href="/contestants/55/mypage"><img width="80" src="/assets/btn/btn_mypage-22e6211b77ee5f928e0055ec584cb804.png" alt="Btn mypage" /></a>
    </div>

  <div class="picture">
      <!-- youtube movie -->
      <iframe max-width="600" src="https://www.youtube.com/embed/f4EbzChQLEM" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="profile">
    <p class="url"><a width="80" target="_blank" href="https://twitter.com/milk00033?p=i"><img src="/assets/btn/btn_tw-d16166044ea29d4c881f2dc8ba3c9d61.png" alt="Btn tw" /></a></p>
    <h3 class="furigana">すずきさやか</h3>
    <h2 class="name">鈴木佐也果</h2>
    <p class="age">年齢：21歳</p>
    <p class="hometown">出身：静岡県</p>
    <p class="height">身長：158cm</p>
    <p class="appeal">一言アピール！</p>

    <textarea readonly name="comment">全国の鈴木さんと仲良くなりたいです！！</textarea>
  </div>
</div>

<div id='contestant-5' class="semifinal_contestant">

    <div class="mypage_btn">
      <a href="/contestants/5/mypage"><img width="80" src="/assets/btn/btn_mypage-22e6211b77ee5f928e0055ec584cb804.png" alt="Btn mypage" /></a>
    </div>


    <div class="picture">
        <!-- youtube movie -->
        <iframe max-width="600" src="https://www.youtube.com/embed/AOTEjjK0Kvs" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="profile">
      <p class="url"><a width="80" target="_blank" href="http://ameblo.jp/rikako-suzuki/"><img src="/assets/btn/btn_blog-b90833c7dd644f1171f96aea8a5d27d0.png" alt="Btn blog" /></a></p>
      <h3 class="furigana">すずきりかこ</h3>
      <h2 class="name">鈴木理香子</h2>
      <p class="age">年齢：31歳</p>
      <p class="hometown">出身：愛知県、青森県</p>
      <p class="height">身長：158cm</p>
      <p class="appeal">一言アピール！</p>

      <textarea readonly name="comment">すーさんこと、鈴木です！底が抜けた、明るさが魅力です！
  元・砲丸投げ選手です！特技はエア食レポです！好物はラーメンです！</textarea>
    </div>
</div>


            <div class="vote_page_ads">
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- contestants_index_ads -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-3153635342972018"
     data-ad-slot="4162570482"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

            </div>


    <p id="to_top"><a href=<% '/' %>><%= image_tag 'to_top.png', :width=> '50px'   %></a></p>
  </div>
</div>



