<div id="help">
  <h1>よくある質問</h1>
  <div id="content">
    <h2 class="first">Q.会員登録/エントリーをしたのですが、ログインできません。</h2>
    <p>会員登録、もしくはエントリーをいただいた方には、<span class="blue">no-reply@ms.someone.com</span>というアドレスから、メールが送信されます。
    <br>そちらのメールの中にあるURLを24時間以内に開いていただくことで、会員登録は完了します。<br>24時間以上経過してしまうと、そのURLは無効になってしまいますのでご注意ください。</p>
    <p>会員登録をしたのにログインができないという状態のユーザー様は、</p><p class="bold">①迷惑メールの設定により、こちらからのメールが届かなかった<br>②迷惑メールボックスに入ってしまっている<br>③会員登録時にご入力いただいたアドレスが間違っている<br>というのが主な原因となっている可能性が考えられます。</p>
    <p>そして、上のいずれにも当てはまらない方、会員登録フォームの送信から24時間以上経ってしまった方は、大変お手数ですがこちらの運営団体のメールアドレス、<span class="blue">ms.someone2015@gmail.com</span>までご連絡をお願い致します。</p>

    <h2>Q.マイページが作れません</h2>
    <p>エントリーしていただいた方は、<a href="/login">「ログイン」</a>をしていただくことで、メニューの中に「マイページ」という項目が現れます。<br>そちらから画像のアップロード、インタビューへの回答が可能になります。</p>
    <p>画像、およびインタビューの掲載は、運営側が承認してからとなりますことをあらかじめご了承ください。</p>

    <h2>Q.参加者に取材・お仕事のご依頼をしたい</h2>
    <p>特定の参加者様に取材を行いたい企業様、団体様は運営団体の「青山学院大学 PIXEL」までお問い合わせをお願いします。ご要件をお伺いし、参加者様にお伝えいたします。</p>
    <p>PIXEL ご連絡先：<span class="blue">ms.someone2015@gmail.com</span></p>
    <p>案件の内容によっては、お断りさせていただく場合もございますのであらかじめご了承ください。</p>


  </div>
</div>