<div id="history">
  <div id="mainimage">
    <%= image_tag 'mainimages/history_mainimage.jpg' %>
  </div>
  <div id="content">
    <div class="section">
      <h2 class="title"><span>自分の名前の歴史、知ってますか？</span></h2>
      <p>日本で2番目に多い名字「鈴木さん」。きっとこのページを見ている鈴木さんも多いはず！<br>
        でも、自分のご先祖様がどこから来たのか説明できますか？</p>
      <p>今回は、鈴木さんのルーツと歴史について、MISS-SUZUKIの運営団体 PIXELが調査しました！<br>
      ただのミスコンでは終わらないのがMISS-SUZUKIです！<br>
      (取材協力：藤白鈴木会)</p>
    </div>

    <div class="section">
    <h2 class="title"><span>そのルーツはなんと神話の時代!?</span></h2>
    <p>鈴木さんのご先祖様を探すと、あの<span>『古事記』</span>の世界まで行ってしまうんです！</p>
    <p>鈴木さんのルーツは<span>『饒速日命(ニギハヤヒノミコト)』</span>という人。なんと、イザナギとイザナミのひ孫です！<br>
    この時はまだまだ「鈴木さん」ではありません。</p>
    </div>

    <div class="section">
      <h2 class="title"><span>「物部さん」と「穂積さん」</span></h2>
      <p>饒速日命の子孫たちはやがて<span>熊野(現在の和歌山県新宮市)</span>に移り住みます。<br>
        そして、「<span>物部(もののべ)</span>さん」というヤマト政権でも最大級の豪族になりました。<br>
        熊野地方では<span>熊野神社</span>の神官を務める人たちが「<span>穂積(ほづみ)</span>さん」を名乗るようになりました。</p>

      <p>熊野神社では、刈り取った稲穂を高く積みあげ、真ん中に一本の木を立てる儀式がありました。<br>
      これがもともとの「ホヅミ」です。<br>
      やがて、この儀式のリーダーが「穂積さん」と呼ばれるようになりました。</p>
    </div>

    <div class="section">
      <h2 class="title"><span>「鈴木さん」登場！そして藤白へ！</span></h2>
      <p>ホヅミの儀式で立てる一本の木。この木は「<span>ススキ</span>」と呼ばれていました。ススとは当時の言葉で「聖なる」と言う意味です。<br>
        やがて、このススキに人々は祈るようになり、ホヅミという儀式そのものがススキと呼ばれるようになっていきました。</p>

        <p>そして先ほど同様に、この儀式のリーダーが「<span>ススキ</span>さん」と呼ばれるようになりました。<br>
          ススキさんが転じて<span>スズキ</span>さんになったんですね！<br>
        「鈴木」と書いて「すすき」さんと読む人がたまにいるのはそういう理由です。<br>
        すすきさん、安心してください！</p>

        <p>11世紀ごろ、鈴木さんはたちは<span>藤白(ふじしろ)</span>へと移住しました。現在の<span>和歌山県海南市</span>です。<br>
          そして<span>藤白神社</span>と<span>鈴木屋敷</span>を建てました。<br>
        これが、藤白神社が「鈴木さんのふるさと」と呼ばれる理由です。</p>
    </div>

    <div class="section">
      <h2 class="title"><span>「物部さん」と「穂積さん」</span></h2>



    </div>

    <div class="section">
      <h2 class="title"><span>「物部さん」と「穂積さん」</span></h2>



    </div>

  </div>


</div>