<div id="news">
  <div id="mainimage">
    <%= image_tag 'news_mainimage.jpg' %>
  </div>
  <div id="content">
    <table>
      <tr class="odd">
        <th>9/15</th>
        <td><a href="#">MISS-SUZUKI エントリー開始！</td>
      </tr>
      <tr class="even">
        <th>9/10</th>
        <td><a href="#">日本唐揚協会</a>様から協賛をいただきました！</td>
      </tr>
      <tr class="odd">
        <th>9/8</th>
        <td>学生ビジネスコンテスト<a href="#">TRIGGER</a>様から協賛をいただきました！</td>
      </tr>
      <tr class="even">
        <th>9/7</th>
        <td><a href="#">鈴木友菜さん</a>が大会オフィシャルサポーターに就任！</td>
      </tr>
    </table>
  </div>
  <div id="banner_big">
    <%= image_tag 'banner/cosmeken.jpg' %>
  </div>
</div>