<div id="news">
  <div id="mainimage">
    <%= image_tag 'news_mainimage.jpg' %>
  </div>
  <div id="content">
    <table>
      <tr class="odd">
        <th>9/15</th>
        <td>MISS-SUZUKI オフィシャルサイトがオープン！</td>
      </tr>
      <tr class="even">
        <th>9/10</th>
        <td><a href="http://www1.suzuki.co.jp/motor/" target="_blank">株式会社スズキ二輪</a>様から協賛をいただきました！</td>
      </tr>
      <tr class="odd">
        <th>9/8</th>
        <td>学生ビジネスコンテスト<a href="http://www.springwater.gr.jp/trigger/" target="_blank">TRIGGER</a>様から協賛をいただきました！</td>
      </tr>
      <tr class="even">
        <th>9/7</th>
        <td><a href="#">鈴木友菜さん</a>が大会オフィシャルサポーターに就任！</td>
      </tr>
    </table>
  </div>
  <div id="banner_big">
    <%= image_tag 'banner/cosmeken.jpg' %>
  </div>
</div>