<div id="rules">
  <div id="mainimage">
    <%= image_tag 'mainimages/rules_mainimage.jpg' %>
  </div>
  <div id="content">
    <div class="menu">
      <ul>
        <li>応募資格</li>
        <li><a href="/how_to_vote#content">投票方法</a></li>
        <li><a href="/flow_chart#content">大会の流れ</a></li>
        <li><a href="/next#content">次回予告</a></li>
      </ul>
    </div>
    <div id="qualification">
      <table>
        <tr class="odd">
          <td>①職業や年齢は一切問いません！学生や主婦の方から芸能活動をされている方まですべての<br>
              「鈴木さん」のご応募を受け付けています。</td>
        </tr>
        <tr class="even">
          <td>②旧姓が鈴木の方は参加できません。現在のお名前が「鈴木」の方のみご参加ください。</td>
        </tr>
        <tr class="odd">
          <td>③プリクラはエントリー不可です！ご本人の顔が認識できるお写真でご応募ください。<br>
              写真の画質やファイルサイズは一切問いません。</td>
        </tr>
        <tr class="even">
          <td>④ペットなど、人間以外のお写真のみでのエントリーはご遠慮ください。</td>
        </tr>
        <tr class="odd">
          <td>⑤エントリーは本人、もしくは本人の許可を得た方のみが行ってください。<br>
              当団体は無許可で行われたエントリーに関するすべての責任を負いかねます。</td>
        </tr>
        <tr class="even">
          <td>⑥東京に住んでいない方もご安心ください！<br>
              ファイナリストの皆様の交通費、宿泊費はもちろんこちらが全額負担いたします。</td>
        </tr>
        <tr class="odd">
        <td>⑦エントリーする前に必ず<a href="/entrypolicy">エントリーポリシー</a>をお読みください。<br>
              芸能プロダクションに所属されている鈴木さんは必ずプロダクションの許可をとってご参加をお願いします。</td>
        </tr>
      </table>
    </div>
  </div>
   <p id="entry_btn"><a href="contestants/entry">ENTRY</a></p>
  </div>
  <div id="banner_big" style="margin-top:10px;">
    <%= ad_img %>
  </div>
</div>

