<p>
  "鈴木さんだらけのアイドルグループ"
</p>
<div class="idols">
  <p>
    鈴木さんだらけのアイドルグループに申し込みいただきありがとうございます。<br>
    今回のプロジェクトの統括をさせていただきます青山学院大学プログラミングサークル PIXELと申します。<br>
    <br>
    ここから、アイドルグループの説明会にご参加いただくために必要事項をご連絡いたします。<br>
    【①顔写真の添付】<br>
      プリクラ以外の形式でお写真の添付を一枚お願い致します。顔が隠れすぎていたり、複数人で写っていてご本人の判別ができないものはご遠慮ください。<br>
      下記のメールアドレスに画像を添付してご返信お願い致します。<br>
      ms.someone2015@gmail.com<br>
    <br>
    【②日程の調整】<br>
      場所は「青山学院大学 渋谷キャンパス」17号館の1Fカフェテリアを予定しております。<br>
      後日、こちらから日程をご連絡致します。少々お待ちください。<br>
    <br>
    お申し込みされた日程<br>
      <%= @idol.date %>
  </p>
</div>
