<p>
  メールアドレス認証が完了致しました！
</p>

<p>
<% if @user.contestant? %>
  以下のアドレスよりログインを行い，是非マイページの作成を行っていただければと思います．
<% else %>
  以下のアドレスよりログインし，ミス鈴木をお楽しみください!
<% end %>
</p>

<div>
  <%= link_to @login_url, @login_url %>
</div>
