<div>
<% if @user.contestant? %>
  <p>
    *** 本メールは自動送信メールです．***<br />
    事務局より，エントリー内容確認後，受付完了メールを24時間以内に送らせて頂きます．<br />
    エントリーの受付完了は，受付完了メールをもって行わせていただきます．<br />
  </p>

  <p>
    ミス鈴木へのエントリーありがとうございます！<br />
    ログインしていただくと，マイページの作成等が可能になります．<br />
    ログインにはメールアドレスの認証が必要です．<br />
  </p>
<% else %>
  ミス鈴木への会員登録ありがとうございます!<br />
  投票ができる様になるまで後一歩です！
<% end %>
</div>

<p>
  以下のURLをクリックし，メールアドレスの認証を完了してください．
</p>

<div>
  <%= link_to @activation_url, @activation_url %>
</div>

<p>
  お待ちしております！
</p>
