<div id="rules">
  <div id="mainimage">
    <%= image_tag 'mainimages/mainimage_idolgroup.jpg' %>
  </div>
  <div id="content">
    <div class="menu">
      <ul>
        <li><a href="index#content">概要</a></li>
        <li><a href="info2#content">応募要項</a></li>
        <li>申し込み</li>
      </ul>
    </div>
  </div>

  <form class="formrun" action="https://form.run/api/v1/r/V16GmQ0HRU23cnEBfw1q" method="post">
    <input type="email" name="メールアドレス" placeholder="suzuki@example.com">
    <input type="text" name="お名前" placeholder="鈴木例子">
    <textarea name="お問い合わせ" placeholder="お問い合わせ"></textarea>
    <button type="submit">送信</button>
</form>



   <p id="entry_btn"><a href="idol_entry">お申し込み</a></p>
  </div>
  <div id="banner_big" style="margin-top:10px;">
    <%= ad_img %>
  </div>
</div>

