<div id="rules">
  <div id="mainimage">
    <%= image_tag 'mainimages/mainimage_idolgroup.jpg' %>
  </div>
  <div id="content">
    <div class="menu">
      <ul>
        <li>概要</li>
        <li><a href="idols/info#content">応募要項</a></li>
        <li><a href="idols/entry#content">申し込み</a></li>
      </ul>
    </div>
    <div id="qualification">
      <table>
        <tr class="odd">
          <td>鈴木さんだらけのアイドルグループのプロジェクトがいよいよ始動します！</td>
        </tr>
        <tr class="even">
          <td>メンバーは約10名！日本で一番かわいい鈴木さんたちを集めます！</td>
        </tr>

        <tr class="odd">
          <td>5月デビュー予定！大手アイドルイベントに多数出演決定！</td>
        </tr>
        <tr class="even">
          <td>6曲以上のオリジナル曲を提供！</td>
        </tr>
        <tr class="odd">
          <td>提携先のSHOWROOM様より公式アカウントを発行！</td>
        </tr>
        <tr class="even">
          <td>レッスン料、イベント出演料など、個人へのご負担は一切ありません！</td>
        </tr>
        <tr class="odd">
          <td>鈴木さんだらけのアイドルグループ 第1期生を大募集！</td>
        </tr>
      </table>
    </div>
  </div>
   <p id="entry_btn"><a href="idol_entry#content">お申し込み</a></p>
  </div>
  <div id="banner_big" style="margin-top:10px;">
    <%= ad_img %>
  </div>
</div>



