<div id="rules">
  <div id="mainimage">
    <%= image_tag 'mainimages/rules_mainimage.jpg' %>
  </div>
  <div id="content">
    <div class="menu">
      <ul>
      <ul>
        <li><a href="/idols#content">概要</a></li>
        <li>応募要項</li>
        <li><a href="/idols/entry#content">申し込み</a></li>
      </ul>
    </div>
    <div id="qualification">
      <table>
        <tr class="odd">
          <td>18歳-22歳で現在のお名前が「鈴木」であること</td>
        </tr>
        <tr class="even">
          <td>「旧姓が鈴木」の方は不可とさせていただきます</td>
        </tr>
        <tr class="odd">
          <td>週１回、都内でのレッスンに必ず通えること</td>
        </tr>
        <tr class="even">
          <td>月に6回以上ライブに出演できること</td>
        </tr>
        <tr class="odd">
          <td>「鈴木」に誇りを持っていること</td>
        </tr>
        <tr class="even">
          <td>１期生として9月30日まで活動できること</td>
        </tr>
      </table>
    </div>
  </div>
  </div>
   <p id="entry_btn"><a href="idol_entry#content">お申し込み</a></p>
  </div>

  <div id="banner_big" style="margin-top:10px;">
    <%= ad_img %>
  </div>
</div>