<div id="rules">
  <div id="mainimage">
    <%= image_tag 'mainimages/mainimage_idolgroup.jpg' %>
  </div>
  <div id="content">
    <div class="menu">
      <ul>
        <li><a href="idol_info1#content">概要</a></li>
        <li><a href="idol_info2#content">応募要項</a></li>
        <li>申し込み</li>
      </ul>
    </div>
  </div>



   <p id="entry_btn"><a href="idol_entry">お申し込み</a></p>
  </div>
  <div id="banner_big" style="margin-top:10px;">
    <%= ad_img %>
  </div>
</div>

