<div id="mister">
  <div id="rules">
    <div id="mainimage">
      <%= image_tag 'mainimages/rules_mainimage.jpg' %>
    </div>
    <div id="content">
      <div class="menu">
        <ul>
          <li><a href="/rules#content">応募資格</a></li>
          <li>投票方法</li>
          <li><a href="/flow_chart#content">大会の流れ</a></li>
        </ul>
      </div>
      <div id="qualification">
        <h3>予選の投票について</h3>
        <table class="table1">
          <tr class="odd"><td>・お気に入りの鈴木さんの<%= image_tag 'kakkoii.png', :width => '50' %> をクリックすると投票ができます。</td>
          </tr>
          <tr class="even">
            <td>・投票回数は各ページ１日3回までです。</td>
          </tr>
          <tr class="odd">
            <td>・会員登録をしてログインすると1日に10回まで投票ができるようになります。</td>
          </tr>
        </table>
        <h3>ファイナルの投票について</h3>
        <table  class="table2">
          <tr class="odd">
            <td>ミスター鈴木のファイナルはWeb投票です。</td>
          </tr>
          <tr class="even">
            <td>投票期間の中で最もポイントを獲得した方がミスター鈴木となります。</td>
          </tr>
        </table>
      </div>
    </div>
    <div id="banner_big" style="margin-top:10px;">
      <%= ad_img %>
    </div>
  </div>
</div>
