<div id="mister">
    <div id="terms">
      <h1>利用規約</h1>
      <div id="content">
        <p class="bold">本規約は、「青山学院大学WEBデザイン＆プログラミングサークルPIXEL」又はその構成員（以下，「当サークル」と言います。）が提供する全てのサービス（以下，「本サービス」と言います。）のご利用に関する条件を定めたものです。本サービスをご利用される方（以下，「サービス利用者」と言います。）は、本規約の内容に同意したものとみなされます。</p>
        <h2>第１ 規約の変更</h2>
        <p>当サークルは、当サークルが必要と判断した場合、いつでも、サービス利用者に通知することなく、本規約の内容を変更できるものとします。サービス利用者は、本規約変更後に本サービスを利用した場合，変更後の本規約に同意をしたものとみなされます。<br>本規約の変更内容は，本ウェブサイト上に掲示された時点でその効力を生じるものとし，サービス利用者に変更内容を個別通知いたしませんので、本サービスご利用の際には、最新の本規約をご確認ください。</p>
        <h2>第２ エントリー</h2>
        <p>サービス利用者のうち，現在「鈴木」姓の方は，本サイトの<a href="contestants/entry">エントリーページ</a>から，当サークルの開催する「MISTER-SUZUKI」にエントリーすることができます。<br>エントリーにあたっては，別途<a href="/entrypolicy">エントリーポリシー</a>に同意して戴く必要があります。</p>
        <h2>第３ 会員登録</h2>
        <p>1.サービスの利用者は，以下の情報を<a href="#">会員登録ページ</a>に登録することにより，会員（以下、「会員」と言います。）となることができます。なお，会員登録は無料とします。</p>
        <p>・ユーザーネーム<br>・年齢<br>・お住まいの県<br>・性別<br>・メールアドレス</p>
        <p>２.会員は，投票に際して優遇措置を受けられ，かつ，当サークルの提供するお得な情報を登録メールアドレスにおいて受け取ることができます。</p>
        <p>３.当サークルは，会員より収集した情報について厳重に管理するものとし，当サイトのサービス向上又は登録メールアドレスへの情報提供以外の目的に利用しないこととし，会員は，この目的による情報利用を承諾するものとします。</p>
        <p>４.会員登録ページで登録した会員は、いつでも会員情報を削除して退会することができます。また当サークルは、会員が本規約に違反しまたは違反するおそれがあると認めた場合，あらかじめ会員に通知することなく、当該会員の会員登録を削除することができるものとします。</p>
        <p>５.会員は，本サービスにおけるすべての利用権を、第三者に譲渡、貸与または相続させることはできません。</p>
        <h2>第４ 会員情報の管理</h2>
        <p>当サークルは，前項の登録に際して収集したサービス利用者の情報を尊重し，サービス利用者に関して収集した個人情報を、プライバシーポリシーに従って安全かつ厳格に管理します。</p>
        <h2>第５ サービスの提供</h2>
        <p>本サービスを利用するにあたり必要な通信設備及び通信料等は，サービス利用者の費用と責任において用意し，負担するものとします。 <br>当サークルは，サービス利用者に事前に通知することなく、いつでも、本サービスの全部または一部の内容を変更し、また、その提供を中止することができるものとします。</p>
        <h2>第６ 広告表示</h2>
        <p>当サークルは、本サービスに，当サークルまたは第三者の広告を掲載することができるものとします。</p>
        <h2>第７ 協賛企業等他の事業者が提供するサービス</h2>
        <p>本サービスの中には、協賛企業等他の事業者が提供するサービスを含む場合があります。サービス利用者が，本サービスを通じて他の事業者提供するサービスを利用する場合であっても，当サークルは他の事業者のサービスに対する責任を一切負いません。</p>
        <h2>第８ 知的財産権等</h2>
        <p>1.本サービスにおいて提供される画像，動画等全てのコンテンツの知的財産権その他一切の権利は，当サークルに帰属するものであり，当サークルは本サービス利用者に対し，非独占的な利用のみを目的とする利用権を付与するものとします。</p>
        <p>２.サービス利用者は、本サービスを当サークルに無断で利用(複製、送信、転載、改変などを含む)してはなりません。</p>
        <h2>第９ 禁止事項</h2>
        <p>サービス利用者は、本サービスの利用に際して、以下に記載することを行なってはなりません。</p>
        <p>・法令、行政措置等に違反する行為。 <br>・公の秩序または善良の風俗を害するおそれのある行為。<br>・当社または第三者の著作権、商標権、特許権等の知的財産権、名誉権、プライバシー権、その他法令上または契約上の権利を侵害する行為。<br>・本サービスのサーバやネットワークシステムに支障を与える行為、BOT、チートツール、その他の技術的手段を利用してサービスを不正に操作する行為、本サービスの不具合を意図的に利用する行為、同様の質問を必要以上に繰り返す等、当社に対し不当な問い合わせまたは要求をする行為、その他当社による本サービスの運営または他のお客様による本サービスの利用を妨害し、これらに支障を与える行為。<br>・その他、当サークルが不適当と判断する行為。</p>
        <h2>第１０ サービス利用者の責任</h2>
        <p>サービス利用者は、ご自身の責任において本サービスを利用するものとし、本サービスの利用に関して被った損害等については，サービス利用者自身が一切の責任を負うものとします。<br>サービス利用者は、本サービスを利用したことに起因して、当サークルが直接的又は間接的に損害（弁護士費用を含む）を被った場合、当社の請求にしたがって直ちにこれを賠償する義務を負うものとします。</p>
        <h2>第１１ 当サークルの免責</h2>
        <p>当サークルは、本サービスの安全性、信頼性、セキュリティなどに関する欠陥、エラーやバグ、権利侵害などに瑕疵がないことを明示的にも黙示的にも保証するものではありません。<br>当サークルは、本サービスに起因してサービス利用者に生じたあらゆる損害について一切の責任を負いません。</p>
        <h2>連絡方法</h2>
        <p>本サービスに関する連絡は、お問い合わせフォームの送信または当サークルが指定する方法により行っていただきます。</p>
        <h2>第１３ 準拠法、裁判管轄</h2>
        <p>本規約に係る紛争は、日本法を準拠法とします。また、当サークルとサービス利用者との間に生じた、本サービスに関する紛争は、東京地方裁判所または東京簡易裁判所を第一審の専属的合意管轄裁判所とします。</p>
        <h4 style="text-align:right;">以上</h4>

      </div>
    </div>
</div>