<div id ="completed">
  <div class="message">
    <h1>会員登録が完了しました！</h1>
    <p>
      会員登録ありがとうございます．<br />
      メールアドレス認証メールを送信致しましたので，1時間以内にメール内のURLをクリックし，認証を完了してください．<br />
      ログイン及び投票はは認証後可能となります．<br />
    </p>
  </div>
  <div id="entry_btn"><%= link_to "トップページに戻る",'/'  %></div>
</div>

