<div id="mister">
  <div id ="completed">
    <div class="message">
      <h1>エントリーが完了しました！</h1>
      <p>内容を確認し、メールを送信いたします。<br>24時間以内に返信がなかった場合、ご記入いただいたメールアドレスが間違っている可能性がございます。<br>
      大変お手数ですが、再度エントリーをお願い致します。</p>
    </div>
    <div id="entry_btn"><%= link_to "トップページに戻る",'/mister'  %></div>
  </div>
</div>
<div id="banner_big" style="margin-top:10px;">
  <%= ad_img %>
</div>
