<div id="mister">
  <div id="thankyou">
    <div id="content">
      <div class="left">
        <div class="message">
          <div class="arrow_box">
            <p class="text">投票ありがとうございました！<br>明日も投票よろしくお願いします！</p>
          </div>
        </div>
        <div class="picture">
         <%= image_tag 'mister/suzuki_rei.jpg', :width=>'300px;' %>
        </div>
        <div id="banner_big" style="margin-top:10px;">
          <%= adsense('thanks_page_ads') %>
        </div>
      </div>
      <div class="right">
        <div class="buttons">
  <!--         <p class="button btn1"><a href="/contestants/second_stage">予選最終ラウンドへ</a></p> -->
          <p class="button yet"><span class="group">MISTER-SUZUKI 予選第1グループへ</span></p>
          <p class="button yet"><span class="group">MISTER-SUZUKI 予選第2グループへ</span></p>
        </div>
      </div>
    </div>
  </div>

  <div id="entry_btn" style="width:300px; margin-bottom:0; margin-top:10px; background-color:#62a7e7;"><%= link_to "トップページに戻る",'/mister'  %></div>

  <div id="banner_big" style="margin-top:10px;">
    <%= adsense('thanks_page_ads') %>
  </div>
</div>