<div id="error_page">
  <div id="mainimage">
      <%= image_tag '500error.jpg' %>
  </div>
  <div id="entry_btn" style="width:300px; margin-bottom:0; margin-top:20px;"><%= link_to "トップページに戻る",'/'  %></div>
</div>