
@media all and (max-width:420px){
body{
  background-color:#faf9f9;
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
html{
  max-width:100%;
}
p a{
  color:#62a7e7;
  text-decoration: none;
}

/*====================REGIST==========================*/
#login .rc-anchor-logo-text {
  color: #9b9b9b;
  cursor: default;
  font-family: Roboto,helvetica,arial,san-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  margin-top: 5px;
  text-align: center;
  margin-left: -30px;
}
#login .rc-anchor-logo-img-portrait {
  background-size: 32px;
  height: 32px;
  margin: 0 13px 0 13px;
  width: 32px;
  margin-left: -30px;
  }
#login .rc-anchor-checkbox-label {
  font-family: Roboto,helvetica,arial,san-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
}
#login .rc-anchor-normal .rc-anchor-pt {
  margin: 4px 13px 0 0;
  padding-right: 2px;
  position: absolute;
  right: 0px;
  text-align: left;
  width: 276px;
}
/*====================HEADER==========================*/
#header{
  clear: both;
}
#header_top{
  clear: both;
  height: 25px;
  margin-top: -10px;
}
#logo img{
  max-width:80px;
  float: left;
  margin-left: 10px;
  margin-top:0px;
}
#nav #menu{
  display: none;
}
#header_right li{
  list-style: none;
  float: right;
}
#header_right .tab{
  float:right;
  display: block;
  margin-right: 10px;
  margin-top: 20px;
}
#header_right .header_btn{
  width: 50px;
  height:20px;
  background-color:#e04974;
  border-radius: 2px;
  font-size: 9px;
  text-align: center;
  line-height: 2.0;
  float: right;
  margin-top:10px;
}
#header_right .header_btn a{
  text-decoration: none;
  color:#fff;
  display: block
}
#header_right .sns{
  margin-top:10px;
}
#header_right .sns img{
  width:15px;
}
#acMenu dt{
  display:block;
  text-align:left;
  cursor:pointer;
}
#acMenu dt span{
  font-size: 18px;
  font-weight: bold;
  color:#191919;
  margin-left: 10px;
  vertical-align: super;
}
#acMenu dd{
  width:100%;
  height:300px;
  line-height:50px;
  text-align:left;
  margin-left:0;
  display:none;
  list-style:none;
}
#acMenu dd a{
  color:#e04974;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  padding-left: 20px;
  display: block;
}
#acMenu dd a span{
  font-size: 10px;
  color:#191919;
  margin-left:10px;
}
#acMenu dd .even{
  background-color: #f1f1f1;
}
/*====================FOOTER==========================*/
#footer{
  margin-top: 30px;
  width:100%;
  overflow: hidden;
  clear: both;
  border-top:1px solid #d7d7d7;
  font-size: 10px;
  font-weight: bold;
}
#footer .footer_left{
  color:#666;
  text-align:center;
}
#footer .footer_right ul{
  overflow: hidden;
  width:100%;
}
#footer .footer_right ul li{
  float: left;
  list-style: none;
  width:50%;
  text-align: left;
}
#footer .footer_right ul li a{
  text-decoration: none;
  color:#666;
  display: block;
}
/*====================HOME==========================*/
#mainimage img{
  width:100%;
  border-top: 3px solid #e04974;
  border-bottom:3px solid #e04974;
}
#banner_big{
  text-align: center;
  max-width:90%;
  margin: 0 auto;
}
#banner_big img{
  width: 100%;
}
#entry_btn{
  width:250px;
  height:50px;
  margin:0 auto;
  background-color: #e04974;
  border-radius: 5px;
  line-height: 3.5;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
#entry_btn a{
  font-size: 14px;
  color:#fff;
  display: block;
  text-decoration: none;
}
#to_top img{
  position: fixed;
  right:3%;
  bottom:3%;
  z-index: 10;
}
#home #mainimage img{
  width:100%;
  border-top: 3px solid #e04974;
  border-bottom: 3px solid #e04974;
}
#home #prerelease{
  width:95%;
  margin:0 auto;
  margin-top: 30px;
}
#home #prerelease h2.title{
  font-size: 14px;
  color: #e04974;
  border-bottom: 3px solid #e04974;
}
#home #prerelease .contestants_box .contestant .furigana{
  margin-top:15px;
}
#home #prerelease .explain{
  text-align: center;
  color:#191919;
  font-weight: bold;
  font-size: 12px;
}
#home .news h2{
  color:#e04974;
  border-bottom: 3px solid #e04974;
  padding-left: 20px;
  margin-top: 5px;
  font-size: 16px;
}
#home .news{
  width:95%;
  margin:0 auto;
  background-color: #fff;
  border:1px solid #d7d7d7;
  border-radius: 5px;
  position: relative;
  padding-bottom: -5px;
  margin-top: 40px;
}
#home .news h3{
  font-size: 12px;
  margin-left: 15px;
}
#home .news h3 a{
  color:#62a7e7;
  text-decoration: none;
}
#home .news .detail{
  font-size: 10px;
  position: absolute;
  right:5px;
  bottom:-10px;
}
#home .buttons{
  width: 300px;
  margin:0 auto;
  margin-top: 15px;
}
#home .buttons img{
  margin-left: 10px;
  width:120px;
}
#home .copy img{
  width:100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}
#home .fullsize img{
  width:100%
}
#home .icon{
  text-align: center;
}
#home p{
  font-size: 10px;
  font-weight: bold;
  color:191919;
}
#home .detail1{
  margin:0 auto;
  margin-top:70px;
  margin-bottom: 80px;
  line-height: 2;
}
#home .detail2{
  padding-top:40px;
  width: 100%;
  margin:0 auto;
}
#home .detail2 .section h3{
  font-size: 12px;
  color:#e04974;
  text-align: center;
  margin-bottom:-10px;
}
#home .detail2 .section .explain .text{
  line-height: 1.6;
  margin-left:10px;
}
#home .detail3 .icon{
  text-align: center;
}
#home .detail3 .text{
  margin-left: 10px;
  line-height: 1.5;
  margin-top: 15px;
  margin-bottom: 30px;
}
#home .detail4{
  text-align: center;
  margin-bottom: 50px;
}
#home .detail4 img{
  margin-bottom: -20px;
  width:80%;
}
#home .detail4 p{
  font-size: 10px;
}
#home .sponsors{
  width:180px;
  border-bottom: 5px solid #e04974;
  text-align: center;
  margin:0 auto;
}
#home .sponsors h3{
  font-size: 30px;
}
#home .sponsors p{
  font-size: 12px;
  margin-top: -25px;
}
#home .logo_row{
  overflow: hidden;
  margin: 0 auto;
  width:300px;
}
#home .smart_row .logo1,#home .smart_row .logo2,#home .smart_row .logo3,#home .smart_row .logo4{
  float: left;
}
#home .smart_row{
  width:300px;
  margin:0 auto;
}
#home .smart_row1{
  margin-top: 10px;
}
#home .smart_row1 .logo1 img{
  max-width:100px;
  margin-right:20px;
  margin-left: 40px;
}
#home .smart_row1 .logo2 img{
  max-width:100px;
  margin-right:10px;
}
#home .smart_row2 .logo3 img{
  max-width:140px;
  margin-right:20px;
  margin-left:20px;
}
#home .smart_row2 .logo4 img{
  max-width:80px;
  margin-right:10px;
}
#home .smart_row3 .logo1 img{
  max-width:100px;
  margin-right:20px;
  margin-left: 40px;
  padding:0;
}

#home .media{
  width:130px;
  border-bottom: 5px solid #e04974;
  text-align: center;
  margin:0 auto;
}
#home .media h3{
  font-size:24px;
}
#home .media p{
  font-size: 12px;
  margin-top: -25px;
}
#home .media_logo{
  overflow: hidden;
  max-width:300px;
  margin: 0 auto;
  margin-bottom:20px;
  margin-top:10px;
}
#home .media_logo .logo1 img{
  width:150px;
  margin-right:20px;
  margin-top: 5px;
  float:left;
}
#home .media_logo .logo2 img{
  width:100px;
  float: left;
  margin-top:-5px;
}



#home .cooperation{
  width:200px;
  border-bottom: 5px solid #e04974;
  text-align: center;
  margin:0 auto;
}
#home .cooperation h3{
  font-size: 24px;
}
#home .cooperation p{
  font-size: 12px;
  margin-top: -25px;
}
#home .detail5{
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px
}
#home .detail5 .icon{
  text-align: center;
}
#home .detail5 .text{
  margin-left: 10px;
  line-height: 1.5;
  margin-top: 25px;
}
#home .detail5 .text2{
  margin-top: 0;
}
/*====================NEWS==========================*/
#news a{
  color:#62a7e7;
  text-decoration: none;
}
#news #content{
  width:95%;
  margin: 0 auto;
  padding:10px;
  background-color: #fff;
  border:1px solid #d7d7d7;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom:30px;
}
#news table{
  font-size: 10px;
  border-collapse:collapse;
}
#news table th{
  color:#666;
  line-height: 2;
}
#news table td{
  color:#666;
  font-weight: bold;
  padding-left:10px;
  line-height: 2;
  width: 100%;
}
#news tr.odd{
  background-color: #f5f5f5;
}
#news tr.even{
  background-color: #fff
}
/*====================RULES==========================*/
#rules a{
  color:#62a7e7;
  text-decoration: none;
}
#rules ul{
  overflow: hidden;
}
#rules #content{
  width:95%;
}
#rules ul li{
  max-width: 100%;
  font-weight: bold;
  font-size: 12px;
  list-style: none;
  float: left;
  margin-right:10px;
}
#rules ul li a{
  color: #999;
  font-size: 12px;
}
#rules ul li a:hover{
  color:#e04974;
}
#rules #qualification{
  width:100%;
  margin: 0 auto;
  padding:10px;
  background-color: #fff;
  border:1px solid #d7d7d7;
  border-radius: 5px;
  margin-bottom:10px;
}
#rules #qualification h3{
  margin:0;
  font-size: 14px;
}
#rules table td{
  color:#666;
  font-weight: bold;
  padding-left: 10px;
  line-height: 2;
  font-size: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 95%;
}
#rules #qualification .table1{
  margin-bottom: 20px;
}
#rules #qualification .table1 img{
  margin-bottom: -8px;
  padding-left: 5px;
}
#rules #qualification .table2{
  margin-top:0;
}
#rules tr.odd{
  background-color: #f5f5f5;
  width:100%;
}
#rules tr.even{
  background-color: #fff;
  width:100%;
}
#rules #entry_btn a{
  color:#fff;
  font-weight: bold;
}
#rules #entry_btn {
  margin-bottom: 20px;
}
#rules #flow_chart{
  width:100%;
  padding:10px;
  background-color: #fff;
  border:1px solid #d7d7d7;
  border-radius: 5px;
  margin-bottom: 20px;
}
#rules #flow_chart .section{
  overflow: hidden;
}
#rules #flow_chart .section .icon{
  float:left;
}
#rules #flow_chart .section .icon img{
  padding-right: 10px;
}
#rules #flow_chart .section h3{
  margin:0;
}
#rules #flow_chart .section p{
  font-size: 10px;
  margin-top: 0;
  font-weight: bold;
}
#rules #flow_chart .section2,#rules #flow_chart .section3{
  margin-top: 20px;
}
#rules #next {
  text-align: center;
}
#rules #next p{
  float:right;
  font-size: 12px;
  color: #e04974;
  font-weight: bold;
}
#rules #next img{
  width:90%;
}
/*====================ENTRY==========================*/
#entry .text{
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}
#entry .contestant{
  position: relative;
  width: 300px;
  margin:0 auto;
}

#entry .vote_system{
  z-index: 3;
  position: absolute;
  top:220px;
  left:10px;
}
#entry .vote_system .counter{
  background-color: #fff;
  width: 50px;
  height:30px;
  font-size: 12px;
  text-align: center;
  color:#62a7e7;
  line-height: 2.5;
  font-weight: bold;
  margin-top: -5px;
}
#entry .mypage_btn{
  position: absolute;
  top:262px;
  right:10px;
  z-index: 4;
}
#entry .picture img{
  width: 300px;
  border-radius: 5px 5px 0 0;
  position: relative;
  z-index: 2;
  margin-bottom: -20px;
}
#entry .profile{
  width: 278px;
  border-left:1px solid #d7d7d7;
  border-bottom:1px solid #d7d7d7;
  border-right:1px solid #d7d7d7;
  border-radius: 5px;
  padding:10px;
  position: relative;
  z-index: 1;
}
#entry .profile p{
  color:#666;
  font-size: 12px;
  font-weight: bold;
  line-height: 0.9;
}
#entry .profile .furigana{
  margin:0;
  color:#e04974;
  font-size: 12px;
}
#entry .profile h2{
  margin:0;
  color:#e04974;
  font-size: 24px;
}

#entry .profile textarea{
  color:#666;
  font-size: 12px;
  font-weight: bold;
  width: 270px;
  margin: 0 auto;
  height: 40px;
  resize: none;
}
#entry .profile .url img{
  position: absolute;
  right:10px;
  bottom:70px;
  width: 120px;
}
#entry .text1{
  color:#e04974;
  margin-top: 30px;
}
#entry .text2{
  color:#666;
  margin-top: 30px;
  margin-bottom:-10px;
}
#entry .text2 a{
  color: #62a7e7;
  text-decoration: none;
}
#entry #entry_btn a{
  text-decoration: none;
}
#entry #banner_big{
  text-align: center;
  margin-top: -30px;
}
/*====================CREATE==========================*/
#create{
  clear: both;
  width:100%;
  border-top: 3px solid #e04974;
}
#create h1{
  color: #e04974;
  text-align: center;
  font-size: 18px;
}
#create #entry_form{
  width:95%;
  margin:0 auto;
}
#create #entry_form input{
  line-height: 2;
  margin-bottom: 10px;
}
#create #entry_form .box{
  margin-bottom: 10px;
}
#create .form1{
  background-color: #fff;
  border:1px solid #d7d7d7;
  border-radius: 5px;
  padding:20px;
  font-size: 12px;
  margin: 0 auto;
}
#create .form2{
  background-color: #fff;
  border:1px solid #d7d7d7;
  border-radius: 5px;
  padding:20px;
  font-size: 12px;
  margin: 0 auto;
}

#create #entry_form .half{
  width: 70%;
}
#create #entry_form .full{
  width: 100%;
}
#create #entry_form .message{
  margin-top: 20px;
  text-align: center;
}
#create #entry_form p{
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
#create #entry_form span{
  font-size: 10px;
}
#create #entry_form input.submit_btn{
  width:200px;
  height:50px;
  background-color: #e04974;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  color:#fff;
  border:0px;
}
#create a{
  color:#62a7e7;
  text-decoration: none;
}

/*====================THANK YOU==========================*/
#thankyou {
  max-width:100%;
  clear: both;
  border-top:3px solid #e04974;
}
#thankyou #content{
  width:100%;
  margin:0 auto;
  margin-top: 30px;
}
#thankyou #content .left{
  width:300px;
  margin: 0 auto;
}
#thankyou #content .right{
  width:300px;
  margin: 0 auto;
}
#thankyou #content  .message{
  position: relative;
  margin-bottom: -20px;
}
#thankyou #content .message .text{
  position: absolute;
  color:#e04974;
  top:10%;
  left:10%;
}
#thankyou #content .left .banner{
  margin-top: 20px;
}
#thankyou #content .buttons{
  margin-top: 20px;
}
#thankyou #content .button{
  width:300px;
  height:70px;
  background-color: #e04974;
  border-radius: 5px;
  text-align: center;
  line-height:5;
  margin-bottom: 20px;
}
#thankyou #content .button a{
  color:#fff;
  font-size:14px;
  font-weight: bold;
  text-decoration: none;
  display: block;
}
#thankyou #content .button .btn1{
  margin-top: 0;
}
/*====================ABOUT US==========================*/
#about #content .slogan img{
  width:90%;
}
#about #content .slogan{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
#about #content .purpose{
  width:300px;
  margin: 0 auto;
  font-size:10px;
  color:#666;
  font-weight: bold;
  line-height: 2;
}
#about #content .line{
  width: 60%;
  margin:0 auto;
  border-bottom:1px solid #d7d7d7;
}
#about #content .line p{
  margin-left: -9999px;
}
#about #content #pixel img{
  width:70%;
}
#about #content #pixel{
  text-align: center;
  margin-top:50px;
  margin-bottom: 30px;
}
#about #content .message{
  width:90%;
  background-color: #fff;
  border:1px solid #d7d7d7;
  border-radius: 5px;
  padding:10px;
  overflow: hidden;
  margin: 0 auto;
}
#about #content .message p{
  font-size: 10px;
  font-weight: bold;
  color: #666;
  margin-bottom: 20px;
}
#about #content .message .name{
  float: right;
  margin-bottom: 0;
  margin-right: 30px;
  font-size: 12px;
  margin-top: 0;
}
#about #content h2{
  font-size: 30px;
  color: #e04974;
  margin-top: 50px;
  text-align: center;margin-bottom: 0;
}
#about #content h3{
  font-size: 14px;
  color: #e04974;
  text-align: center;
  margin-top: 0;
}
#about #content .sponsors{
  width:100%;
  margin: 0 auto;
  clear: both;
  margin-top: 30px;
  margin-left: 20px;
}
#about #content .sponsors .row1{
  overflow: hidden;
}
#about #content .sponsors .row1 .logo1 img{
  width:140px;
  margin-right:20px;
  float: left;
}
#about #content .sponsors .row1 .logo2 img{
  width:140px;
  float: left;
}

#about #content .sponsors .row2{
  overflow: hidden;
  margin-top: 30px;
}
#about #content .sponsors .row2 .logo1 img{
  width:140px;
  margin-right:20px;
  float: left;
}
#about #content .sponsors .row2 .logo2 img{
  width:140px;
  float: left;
}
#about #content .sponsors .row3 .logo1 img{
  width:140px;
  margin-right:20px;
  float:left;
}
#about #content .sponsors .row1 .zenkoku img{
  width:140px;
  margin-right:0;
  float: left;
}
#about #content .sponsors #ascii img{
  margin-top:10px;
}
/*====================CREATE==========================*/
#completed{
  width:100%;
  clear: both;
  border-top:3px solid #e04974;
}
#completed .message{
  width:80%;
  border-radius: 5px;
  background-color: #fff;
  padding:10px;
  margin:0 auto;
  border:1px solid #d7d7d7;
  margin-top: 20px;
}
#completed h1{
  font-size: 14px;
  text-align: center;
  color:#e04974;
}
#completed p{
  font-size: 10px;
  color:#666;
  line-height:1.5;
}
/*==================== HISTORY ==========================*/
#history #content{
  width:300px;
  margin:0 auto;
}
#history .section h2{
  color:#191919;
  font-size: 16px;
}
#history .section h2 span{
  border-bottom:3px solid #e04974;
  padding-bottom: 5px;
}
#history .section {
  margin-top:30px;
}
#history .section p{
  font-weight: bold;
  font-size: 12px;
  color:#191919;
}
#history .section span.inside{
  color:#498de0;
}
#history .credit{
  text-align: right;
  font-weight: bold;
  font-size: 12px;
  color:#191919;
}
#history .image p{
  font-size: 10px;
  margin-top: 0;
}
#history .image img{
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.8);
  max-width: 100%;
}
/*==================== POLICY&TERMS ==========================*/
#policy{
  width: 100%;
  clear: both;
  border-top: 3px solid #e04974;
}
#policy h1{
  font-size: 14px;
  text-align: center;
  margin-top:20px;
}
#policy h2{
  font-size: 12px;
}
#policy #content{
  width:90%;
  margin:0 auto;
  background-color: #fff;
  color:#666;
  padding:10px;
  border-radius: 5px;
  border:solid #d7d7d7 1px;
  font-size:10px;
  margin-bottom: 50px;
}
#policy .bold{
  font-weight: bold;
}
#terms{
  width: 100%;
  clear: both;
  border-top: 3px solid #e04974;
}
#terms h1{
  font-size: 14px;
  text-align: center;
  margin-top:20px;
}
#terms #content{
  width:90%;
  margin:0 auto;
  background-color: #fff;
  color:#666;
  padding:10px;
  border-radius: 5px;
  border:solid #d7d7d7 1px;
  font-size: 10px;
  margin-bottom: 50px;
}
#terms .bold{
  font-weight: bold;
}
#terms a{
  color:#62a7e7;
  text-decoration: none;
}
/*====================contestant==========================*/
.contestant{
  position: relative;
  width: 300px;
  margin:0 auto;
  margin-bottom: 30px;
}

.contestant .vote_system{
  z-index: 3;
  position: absolute;
  top:220px;
  left:10px;
}
.contestant .vote_system .counter{
  background-color: #fff;
  width: 50px;
  height:30px;
  font-size: 12px;
  text-align: center;
  color:#62a7e7;
  line-height: 2.5;
  font-weight: bold;
  margin-top: -5px;
}
.contestant .mypage_btn{
  position: absolute;
  top:262px;
  right:10px;
  z-index: 4;
}
.contestant .picture img{
  width: 300px;
  border-radius: 5px 5px 0 0;
  position: relative;
  z-index: 2;
  margin-bottom: -20px;
}
.contestant .profile{
  width: 278px;
  border-left:1px solid #d7d7d7;
  border-bottom:1px solid #d7d7d7;
  border-right:1px solid #d7d7d7;
  border-radius: 5px;
  padding:10px;
  position: relative;
  z-index: 1;
}
.contestant .profile p{
  color:#666;
  font-size: 12px;
  font-weight: bold;
  line-height: 0.9;
}
.contestant .profile .furigana{
  margin:0;
  color:#e04974;
  font-size: 12px;
}
.contestant .profile h2{
  margin:0;
  color:#e04974;
  font-size: 24px;
}
.contestant .profile textarea{
  color:#666;
  font-size: 12px;
  font-weight: bold;
  width: 270px;
  margin: 0 auto;
  height: 40px;
  resize: none;
}
.contestant .profile .url img{
  position: absolute;
  right:10px;
  bottom:70px;
  width: 120px;
}
/*==================== MYPAGE ==========================*/
#mypage{
  width:100%;
  clear: both;
  border-top:3px solid #e04974;
}
#mypage .mypage_contestant{
  width:300px;
  margin:0 auto;
  margin-top: 30px;
  overflow: hidden;
  margin-bottom: 20px;
}
#mypage .picture img{
  width:300px;
  height:300px;
  border-radius: 5px 5px 0 0;
  position: relative;
  z-index: 20;
}
#mypage .profile{
  border-radius: 5px;
  border-left:1px solid #d7d7d7;
  border-right:1px solid #d7d7d7;
  border-bottom:1px solid #d7d7d7;
  padding-left:10px;
  padding-top: 20px;
  margin-top: -80px;
  position: relative;
  z-index: -1;
}
#mypage .profile_content{
  width:300px;
}
#mypage .profile p{
  color:#666;
  font-size: 12px;
  font-weight: bold;
  line-height: 0.9;
}
#mypage .profile .furigana{
  margin:0;
  color:#e04974;
  font-size: 12px;
  margin-top: 30px;
}
#mypage .profile h2{
  margin:0;
  color:#e04974;
  font-size: 24px;
}
#mypage .profile textarea{
  color:#666;
  font-size: 12px;
  font-weight: bold;
  width: 95%;
  margin: 0 auto;
  height: 40px;
  resize: none;
}
#mypage .profile .url img{
  width: 85px;
}
#mypage #banner_in_profile img{
  max-width: 280px;
}
#mypage .interview_area{
  width: 95%;
  margin: 0 auto;
}
#mypage .interview_area h2{
  font-size: 14px;
  color: #e04974;
}
#mypage table#interview{
  border-radius: 5px;
  border:1px solid #d7d7d7;
  width:100%;
  background-color: #fff;
  padding:20px;
  text-align: left;
}
#mypage table#interview tr{
  padding-top:10px;
  padding-bottom: 10px;
}
#mypage table#interview th{
  font-size: 12px;
  color:#e04974;
  background-color: #f9f9f9;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}
#mypage table#interview td{
  font-size: 10px;
  color:#666;
  font-weight: bold;
  width:100%;
  padding-bottom: 10px;
  padding-left: 5px;
}
#mypage .interview_area p{
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  color:#e04974;
}
#mypage .link_row{
  overflow: hidden;
}
#mypage .link_row .url{
  float:left;
  margin-right: 10px;
}
#mypage .link_row .btn3{
  margin-right: 0;
}
#mypage .row2{
  margin-top: -15px;
}
#mypage .instruction{
  max-width:280px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  border:1px solid #d7d7d7;
  padding:10px;
  margin-top: 10px;
  margin-bottom: -20px;
}
#mypage .instruction h3{
  color:#e04974;
  margin:0;
  text-align: center;
  font-size: 14px;
}
#mypage .instruction p{
  font-weight:bold;
  color:#666;
  font-size: 12px;
  line-height: 2.5;
  margin:0  ;
}
#mypage .instruction .even{
  background-color: #f9f9f9;
}
/*====================  ログインページ ==========================*/
#login{
  clear: both;
  border-top: 5px solid #e04974;
  margin-bottom: -30px;
  height:inherit;
  padding-bottom: 20px;
}
#login{
  background-position: 50%;
}
#login #login_form{
  width:280px;
  background:rgba(255,255,255,0.8);
  border-radius: 5px;
  margin:0 auto;
  margin-top: 30px;
  padding:0 10px 10px 10px;
}
#login #login_form h1{
  text-align: center;
  padding-top: 10px;
}
#login #login_form tr{
  font-size: 16px;
  font-weight: bold;
  color:#666;
}
#login #login_form tr input{
  width: 260px;
  line-height: 2;
}
#login #login_form p{
  text-align: center;
}
#login #login_form .submit_btn{
  width:200px;
  height:50px;
  background-color: #e04974;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  color:#fff;
  border:0px;
}
/*====================  投票ページ ==========================*/
.content_middle{
  padding-top: 30px;
}
/*====================  VALIDATION ==========================*/
.error{
  font-size: 12px;
  color:#e04974;
}
.error_msg{
  font-size: 12px;
  color:#e04974;
}
/*====================  Bxslider ==========================*/
.bx-wrapper{
  border:0;
}
.bx-wrapper img{
  width:300px;
  border-radius: 5px 0 0 5px;
}
}











@media all and (min-width:421px){
body {
  background-color:#faf9f9;
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
#mainimage img{
  width:100%;
  border-top: 5px solid #e04974;
  border-bottom: 5px solid #e04974;
}
#banner_big{
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}
#banner_big img{
  width: 100%;
}
#entry_btn{
  width:350px;
  height:70px;
  margin:0 auto;
  background-color: #e04974;
  border-radius: 5px;
  line-height: 3.5;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
#entry_btn a{
  font-size: 20px;
  color:#fff;
  display: block;
}
#to_top img{
  position: fixed;
  right:3%;
  bottom:3%;
  z-index: 10;
}
/*====================HEADER==========================*/
#header{
  clear: both;
}
#smartphone_menu{
  display: none;
}
#logo{
  max-width: 200px;
  float: left;
  margin-left: 10px;
  margin-top:0px;
}
#nav{
  max-width:60%;
  overflow: hidden;
  margin-top: -15px;
  float:left;
}
#nav #humburger{
  display: none;
}
#nav li{
  list-style: none;
  font-size: 16px;
  font-weight: bold;
}
#nav .tab{
  max-width: 120px;
  float: left;
  display: block;
  margin-left: 20px;
  margin-top:20px;
}
#nav .tab span{
  color:#666;
  font-size:11px;
  text-align: center;
}
#nav li a{
  text-decoration: none;
  color: #191919;
  display: block;
  text-align: center;
}
#nav li a:hover{
  color:#e04974;
}
#header_right li{
  list-style: none;
  float: right;
  margin-top: -15px;
}
#header_right .tab{
  float:right;
  display: block;
  margin-right: 10px;
  margin-top: 20px;
}
#header_right .header_btn{
  width: 100px;
  height:40px;
  background-color:#e04974;
  border-radius: 5px;
  text-align: center;
  line-height: 2.5;
  float: right;
  margin-top:12px;
}
#header_right .header_btn a{
  text-decoration: none;
  color:#fff;
}
/*====================FOOTER==========================*/
#footer{
  margin-top: 30px;
  width:100%;
  overflow: hidden;
  clear: both;
  border-top:1px solid #d7d7d7;
  font-size: 10px;
  font-weight: bold;
}
#footer .footer_left{
  float: left;
  color:#666;
  margin-left:80px;
}
#footer .footer_right{
  float: right;
}
#footer .footer_right ul{
  overflow: hidden;
  margin-right: 80px;
}
#footer .footer_right ul li{
  float: left;
  list-style: none;
  margin-right: 20px;
}
#footer .footer_right ul li a{
  text-decoration: none;
  color:#666;
  display: block;
}
/*====================HOME==========================*/
#home a{
  color:#62a7e7;
  text-decoration: none;
}
#entry_btn a{
  color:#fff;
  text-decoration: none;
}
#home #mainimage img{
  width:100%;
  border-top: 5px solid #e04974;
  border-bottom: 5px solid #e04974;
}
#home #prerelease{
  width:1000px;
  margin:0 auto;
  margin-top: 50px;
}
#home #prerelease h2.title{
  font-size: 18px;
  color: #e04974;
  border-bottom: 5px solid #e04974;
}
#home #prerelease .contestants_box{
  overflow: hidden;
  max-width: 960px;
  margin:0 auto;
}
#home #prerelease .contestants_box .contestant{
  float:left;
  margin-right: 30px;
}
#home #prerelease .contestants_box .contestant .furigana{
  margin-top:15px;
}
#home #prerelease .contestants_box .last{
  float:left;
  margin-right:0;
}
#home #prerelease .explain{
  text-align: center;
  color:#191919;
  font-size: 14px;
}
#home .news h2{
  color:#e04974;
  border-bottom: 5px solid #e04974;
  padding-left: 20px;
  margin-top: 5px;
}
#home .news{
  width:700px;
  margin:0 auto;
  background-color: #fff;
  border:1px solid #d7d7d7;
  border-radius: 5px;
  position: relative;
  padding-bottom: -5px;
  margin-top: 80px;
}
#home .news h3{
  font-size: 14px;
  margin-left: 15px;
}
#home .news .detail{
  font-size: 12px;
  position: absolute;
  right:10px;
  bottom:5px;
}
#home .buttons{
  width: 700px;
  margin:0 auto;
  overflow: hidden;
  margin-top: 15px;
}
#home .buttons img{
  float: right;
  margin-left: 10px;
}
#home .copy{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 150px;
}
#home .fullsize img{
  width:100%
}
#home p{
  font-size: 12px;
  font-weight: bold;
  color:191919;
}
#home .detail1{
  width:600px;
  margin:0 auto;
  margin-top:70px;
  margin-bottom: 150px;
  line-height: 2;
}
#home .detail2{
  padding-top:40px;
  max-width: 600px;
  margin:0 auto;
}
#home .detail2 .section h3{
  font-size: 20px;
  color:#e04974;
  text-align: center;
  margin-bottom:-10px;
  overflow: hidden;
}
#home .detail2 .section .explain{
  overflow: hidden;
}
#home .detail2 .section .explain .icon{
  float:left;
}
#home .detail2 .section .explain .text{
  float: left;
  line-height: 1.6;
  margin-left:10px;
}
#home .detail2 .section .explain .text1{
  margin-top: 25px;
}
#home .detail2 .section .explain .text2{
  margin-top: 30px;
}
#home .detail2 .section .explain .text3{
  margin-top: 40px;
}
#home .detail3{
  overflow: hidden;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 80px;
}
#home .detail3 .icon{
  float: left;
}
#home .detail3 .text{
  float:left;
  margin-left: 10px;
  line-height: 1.5;
  margin-top: 25px;
}
#home .detail4{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 70px;
}
#home .detail4 img{
  margin-bottom: -20px;
}
#home .detail4 p{
  font-size: 12px;
}
#home .sponsors{
  width:180px;
  border-bottom: 5px solid #e04974;
  text-align: center;
  margin:0 auto;
}
#home .sponsors h3{
  font-size: 30px;
}
#home .sponsors p{
  font-size: 12px;
  margin-top: -25px;
}
#home .logo_row{
  overflow: hidden;
  max-width:960px;
  margin: 0 auto;
  margin-bottom: 0;
}
#home .row1 .logo1,#home .row1 .logo2,#home .row1 .logo3,#home .row1 .logo4{
  float: left;
}
#home .row1{
  margin-top: 40px;
}
#home .row1 .logo1 img{
  width:200px;
  margin-right: 30px;
  margin-top: 5px;
}
#home .row1 .logo2 img{
  width:220px;
  margin-right: 30px;
}
#home .row1 .logo3 img{
  width:250px;
  margin-right: 30px;
  margin-top: 5px;
}
#home .row1 .logo4 img{
  max-width: 200px;
}
#home .row2 .logo1,#home .row2 .logo2,#home .row2 .logo3,#home .row2 .logo4{
  float: left;
  margin-bottom: 100px;
}
#home .row2 .logo1 img{
  width:200px;
  margin-right: 30px;
}
#home .media{
  width:130px;
  border-bottom: 5px solid #e04974;
  text-align: center;
  margin:0 auto;
}
#home .media h3{
  font-size: 30px;
}
#home .media p{
  font-size: 12px;
  margin-top: -25px;
}
#home .media_logo{
  overflow: hidden;
  max-width:600px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
}
#home .media_logo .logo1 img{
  width:250px;
  margin-left: 30px;
  margin-right:50px;
  margin-top: 5px;
  float:left;
}
#home .media_logo .logo2 img{
  width:200px;
  float: left;
  margin-top:-5px;
}
#home .cooperation{
  width:250px;
  border-bottom: 5px solid #e04974;
  text-align: center;
  margin:0 auto;
}
#home .cooperation h3{
  font-size: 30px;
}
#home .cooperation p{
  font-size: 12px;
  margin-top: -25px;
}
#home .coop_logo{
  overflow: hidden;
  max-width:660px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
}
#home .coop_logo .logo1 img{
  width:300px;
  margin-right: 30px;
  margin-top: 5px;
  float:left;
}
#home .coop_logo .logo2 img{
  width:300px;
  margin-right: 30px;
  float: left
}

#home .detail5{
  overflow: hidden;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 100px;
}
#home .detail5 .icon{
  float: left;
}
#home .detail5 .text{
  float:left;
  margin-left: 10px;
  line-height: 1.5;
  margin-top: 25px;
}
#home .detail5 .text2{
  margin-top: 0;
}
/*====================NEWS==========================*/
#news a{
  color:#62a7e7;
  text-decoration: none;
}
#news #content{
  width:850px;
  margin: 0 auto;
  padding:25px;
  background-color: #fff;
  border:1px solid #d7d7d7;
  border-radius: 5px;
  margin-top: 60px;
  margin-bottom:60px;
}
#news table{
  font-size: 14px;
  border-collapse:collapse;
}
#news table th{
  color:#666;
  line-height: 2;
}
#news table td{
  color:#666;
  font-weight: bold;
  padding-left: 20px;
  line-height: 2;
  width: 100%;
}
#news tr.odd{
  background-color: #f5f5f5;
}
#news tr.even{
  background-color: #fff;
}



/*====================RULES==========================*/
#rules a{
  color:#62a7e7;
  text-decoration: none;
}
#rules ul{
  overflow: hidden;
}
#rules #content{
  width:900px;
  margin:0 auto;
}
#rules ul li{
  max-width: 100px;
  font-weight: bold;
  font-size: 18px;
  list-style: none;
  float: left;
  margin-right: 20px;
}
#rules ul li a{
  color: #999;
  font-size: 18px;
}
#rules ul li a:hover{
  color:#e04974;
}
#rules #qualification{
  width:850px;
  margin: 0 auto;
  padding:25px;
  background-color: #fff;
  border:1px solid #d7d7d7;
  border-radius: 5px;
  margin-bottom:30px;
}
#rules #qualification h3{
  margin:0;
  padding-left:10px;
}
#rules table td{
  color:#666;
  font-weight: bold;
  padding-left: 20px;
  line-height: 2;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 850px;
}
#rules #qualification .table1{
  margin-bottom: 20px;
}
#rules #qualification .table1 img{
  margin-bottom: -8px;
  padding-left: 5px;
}
#rules #qualification .table2{
  margin-top:0;
}
#rules tr.odd{
  background-color: #f5f5f5;
  width:100%;
}
#rules tr.even{
  background-color: #fff;
  width:100%;
}
#rules #entry_btn a{
  color:#fff;
  font-weight: bold;
}
#rules #entry_btn {
  margin-bottom: 20px;
}
#rules #flow_chart{
  width:850px;
  padding:25px;
  background-color: #fff;
  border:1px solid #d7d7d7;
  border-radius: 5px;
  margin-bottom: 40px;
}
#rules #flow_chart .section{
  overflow: hidden;
}
#rules #flow_chart .section .icon{
  float:left;
}
#rules #flow_chart .section .icon img{
  padding-right: 10px;
}
#rules #flow_chart .section h3{
  margin:0;
}
#rules #flow_chart .section p{
  font-size: 12px;
  margin-top: 0;
  font-weight: bold;
}
#rules #flow_chart .section2,#rules #flow_chart .section3{
  margin-top: 20px;
}
#rules #next p{
  float:right;
  font-size: 18px;
  color: #e04974;
  font-weight: bold;
}
/*====================ENTRY==========================*/
#entry .sample{
  position: relative;
  width: 300px;
  margin:0 auto;
}

#entry .vote_system{
  z-index: 3;
  position: absolute;
  top:220px;
  left:10px;
}
#entry .vote_system .counter{
  background-color: #fff;
  width: 50px;
  height:30px;
  font-size: 12px;
  text-align: center;
  color:#62a7e7;
  line-height: 2.5;
  font-weight: bold;
  margin-top: -5px;
}
#entry .mypage_btn{
  position: absolute;
  top:262px;
  right:10px;
  z-index: 4;
}
#entry .picture img{
  width: 300px;
  border-radius: 5px 5px 0 0;
  position: relative;
  z-index: 2;
  margin-bottom: -20px;
}
#entry .profile{
  width: 278px;
  border-left:1px solid #d7d7d7;
  border-bottom:1px solid #d7d7d7;
  border-right:1px solid #d7d7d7;
  border-radius: 5px;
  padding:10px;
  position: relative;
  z-index: 1;
}
#entry .profile p{
  color:#666;
  font-size: 12px;
  font-weight: bold;
  line-height: 0.9;
}
#entry .profile .furigana{
  margin:0;
  color:#e04974;
  font-size: 12px;
}
#entry .profile h2{
  margin:0;
  color:#e04974;
  font-size: 24px;
}
#entry .profile textarea{
  color:#666;
  font-size: 12px;
  font-weight: bold;
  width: 270px;
  margin: 0 auto;
  height: 40px;
  resize: none;
}
#entry .profile .url img{
  position: absolute;
  right:10px;
  bottom:70px;
  width: 120px;
}
#entry .text{
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
#entry .text1{
  color:#e04974;
  margin-top: 50px;
}
#entry .text2{
  color:#666;
  margin-top: 30px;
  margin-bottom:-30px;
}
#entry .text2 a{
  color: #62a7e7;
  text-decoration: none;
}
#entry #entry_btn a{
  text-decoration: none;
}
#entry #banner{
  text-align: center;
}
/*====================CREATE==========================*/
#create{
  clear: both;
  width:100%;
  border-top: 5px solid #e04974;
}
#create{
  background-image: url("images/form_background.jpg");
}
#create h1{
  color: #e04974;
  text-align: center;
}
#create #entry_form{
  width:600px;
  margin:0 auto;
}
#create #entry_form input{
  line-height: 2;
  margin-bottom: 10px;
}
#create #entry_form .box{
  margin-bottom: 10px;
}
#create .form1{
  background-color: #fff;
  border:1px solid #d7d7d7;
  border-radius: 5px;
  padding:20px;
  width:600px;
  font-size: 14px;
}
#create .form2{
  background-color: #fff;
  border:1px solid #d7d7d7;
  border-radius: 5px;
  padding:20px;
  width:600px;
  font-size: 14px;
}
#create #entry_form .half{
  width: 50%;
}
#create #entry_form .full{
  width: 100%;
}
#create #entry_form .message{
  margin-top: 20px;
  text-align: center;
}
#create #entry_form p{
  text-align: center;
  font-size: 14px;
}
#create #entry_form span{
  font-size: 12px;
}
#create #entry_form input.submit_btn{
  width:200px;
  height:50px;
  background-color: #e04974;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  color:#fff;
  border:0;
}
#create a{
  color:#62a7e7;
  text-decoration: none;
}
/*====================COMPLETED==========================*/
#completed{
  clear: both;
  width: 100%;
  border-top: 5px solid #e04974;
}
#completed .message{
  width:600px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  border:1px solid #d7d7d7;
  padding:5px 20px 10px 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
#completed h1{
  color: #e04974;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}
#completed p{
  font-size: 14px;
  color:#666;
}

/*====================THANK YOU==========================*/
#thankyou {
  max-width:100%;
  clear: both;
  border-top:5px solid #e04974;
}
#thankyou #content{
  /*overflow: hidden;*/
  /*width:700px;*/
  width:300px;
  margin:0 auto;
  margin-top: 30px;
}
#thankyou #content .left{
  width:300px;
/*  float:left;*/
/*  margin-right: 100px;*/
}
/*#thankyou #content .right{
  width:300px;
  float:left;
}*/
#thankyou #content  .message{
  position: relative;
  margin-bottom: -20px;
}
#thankyou #content .message .text{
  position: absolute;
  color:#e04974;
  top:10%;
  left:10%;
}
#thankyou #content .left .banner{
  margin-top: 40px;
}
#thankyou #content .buttons{
  margin-top: 130px;
}
#thankyou #content .button{
  width:300px;
  height:70px;
  background-color: #e04974;
  border-radius: 5px;
  text-align: center;
  line-height:5;
  margin-bottom: 45px;
}
#thankyou #content .button a{
  color:#fff;
  font-size:14px;
  font-weight: bold;
  text-decoration: none;
  display: block;
}
#thankyou #content .button .btn1{
  margin-top: 0;
}
/*====================ABOUT US==========================*/
#about #content .slogan{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
#about #content .purpose{
  width:450px;
  margin: 0 auto;
  font-size:14px;
  color:#666;
  font-weight: bold;
  line-height: 2;
}
#about #content .line{
  width: 500px;
  margin:0 auto;
  border-bottom:1px solid #d7d7d7;
}
#about #content .line p{
  margin-left: -9999px;
}
#about #content #pixel{
  text-align: center;
  margin-top:60px;
  margin-bottom: 30px;
}
#about #content .message{
  width:500px;
  background-color: #fff;
  border:1px solid #d7d7d7;
  border-radius: 5px;
  padding-left:30px;
  padding-top:20px;
  margin-right: 20px;
  padding-bottom:20px;
  overflow: hidden;
  margin: 0 auto;
}
#about #content .message p{
  font-size: 12px;
  font-weight: bold;
  color: #666;
  margin-bottom: 20px;
}
#about #content .message .name{
  float: right;
  margin-bottom: 0;
  margin-right: 30px;
  font-size: 14px;
  margin-top: 0;
}
#about #content h2{
  font-size: 30px;
  color: #e04974;
  margin-top: 50px;
  text-align: center;margin-bottom: 0;
}
#about #content h3{
  font-size: 14px;
  color: #e04974;
  text-align: center;
  margin-top: 0;
}
#about #content .sponsors{
  width:700px;
  margin: 0 auto;
  clear: both;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: hidden;
}
#about #content .sponsors .row1{
  overflow: hidden;
}
#about #content .sponsors .row1 .logo1 img{
  width:300px;
  margin-right:50px;
  float: left;
}
#about #content .sponsors .row1 .logo2 img{
  width:300px;
  float: left;
}
#about #content .sponsors .row2{
  overflow: hidden;
  margin-top: 50px;
}
#about #content .sponsors .row2 .logo1 img{
  width:350px;
  margin-right:50px;
  float: left;
}
#about #content .sponsors .row2 .logo2 img{
  width:250px;
  float: left;
}
#about #content .sponsors .row3 .logo1 img{
  width:250px;
  float: left;
  margin-top:20px;
}
#about #content .sponsors #ascii img{
  width:250px;
  float: left;
  margin-top:20px;
  margin-left:70px;
}
#about #content .sponsors #oedo img{
  width:250px;
  float: left;
  margin-top:0px;
}
/*==================== HISTORY ==========================*/
#history #content{
  width:900px;
  margin:0 auto;
}
#history .section h2{
  color:#191919;
}
#history .section h2 span{
  border-bottom:5px solid #e04974;
  padding-bottom: 10px;
}
#history .section {
  margin-top:50px;
}
#history .section p{
  font-weight: bold;
  font-size: 14px;
  color:#191919;
}
#history .section span.inside{
  color:#498de0;
}
#history .credit{
  text-align: right;
  font-weight: bold;
  font-size: 14px;
  color:#191919;
}
#history .image p{
  font-size: 12px;
  margin-top: 0;
}
#history .image img{
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.8);
}
/*==================== POLICY&TERMS ==========================*/
#policy{
  width: 100%;
  clear: both;
  border-top: 5px solid #e04974;
}
#policy h1{
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
}
#policy h2{
  font-size: 14px;
}
#policy #content{
  max-width:800px;
  margin:0 auto;
  background-color: #fff;
  color:#666;
  padding:30px;
  border-radius: 5px;
  border:solid #d7d7d7 1px;
  font-size:12px;
  margin-bottom: 50px;
}
#policy .bold{
  font-weight: bold;
}
#terms{
  width: 100%;
  clear: both;
  border-top: 5px solid #e04974;
}
#terms h1{
  font-size: 18px;
  text-align: center;
  margin-top:50px;
}
#terms #content{
  max-width:900px;
  margin:0 auto;
  background-color: #fff;
  color:#666;
  padding:20px;
  border-radius: 5px;
  border:solid #d7d7d7 1px;
  font-size: 12px;
  margin-bottom: 50px;
}
#terms .bold{
  font-weight: bold;
}
#terms a{
  color:#62a7e7;
  text-decoration: none;
}
/*====================contestant==========================*/
.contestant{
  position: relative;
  width: 300px;
  margin:0 auto;
  margin-bottom: 30px;
}

.contestant .vote_system{
  z-index: 3;
  position: absolute;
  top:220px;
  left:10px;
}
.contestant .vote_system .counter{
  background-color: #fff;
  width: 50px;
  height:30px;
  font-size: 12px;
  text-align: center;
  color:#62a7e7;
  line-height: 2.5;
  font-weight: bold;
  margin-top: -5px;
}
.contestant .mypage_btn{
  position: absolute;
  top:262px;
  right:10px;
  z-index: 4;
}
.contestant .picture img{
  width: 300px;
  border-radius: 5px 5px 0 0;
  position: relative;
  z-index: 2;
  margin-bottom: -20px;
}
.contestant .profile{
  width: 278px;
  border-left:1px solid #d7d7d7;
  border-bottom:1px solid #d7d7d7;
  border-right:1px solid #d7d7d7;
  border-radius: 5px;
  padding:10px;
  position: relative;
  z-index: 1;
}
.contestant .profile p{
  color:#666;
  font-size: 12px;
  font-weight: bold;
  line-height: 0.9;
}
.contestant .profile .furigana{
  margin:0;
  color:#e04974;
  font-size: 12px;
}
.contestant .profile h2{
  margin:0;
  color:#e04974;
  font-size: 24px;
}
.contestant .profile textarea{
  color:#666;
  font-size: 12px;
  font-weight: bold;
  width: 270px;
  margin: 0 auto;
  height: 40px;
  resize: none;
}
.contestant .profile .url img{
  position: absolute;
  right:10px;
  bottom:70px;
  width: 120px;
}
/*==================== MYPAGE ==========================*/
#mypage{
  width:100%;
  clear: both;
  border-top:5px solid #e04974;
}
#mypage .mypage_contestant{
  max-width:900px;
  margin:0 auto;
  margin-top: 50px;
  overflow: hidden;
  margin-bottom: 30px;
}
#mypage .picture {
  width:500px;
  height: 500px;
  border-radius: 5px;
  float:left;
  position: relative;
  z-index: 10;
}
#mypage .profile{
  width:379px;
  height:498px;
  border-radius: 5px;
  border-top:1px solid #d7d7d7;
  border-right:1px solid #d7d7d7;
  border-bottom:1px solid #d7d7d7;
  float:left;
  margin-left: 10px;
  padding-left: 30px;
  margin-left: -10px;
  position: relative;
  z-index: 5;
}
#mypage .profile_content{
  width:350px;
}
#mypage .profile p{
  color:#666;
  font-size: 12px;
  font-weight: bold;
  line-height: 0.9;
}
#mypage .profile .furigana{
  margin:0;
  color:#e04974;
  font-size: 12px;
  margin-top: 30px;
}
#mypage .profile h2{
  margin:0;
  color:#e04974;
  font-size: 24px;
}
#mypage .profile textarea{
  color:#666;
  font-size: 12px;
  font-weight: bold;
  width: 350px;
  margin: 0 auto;
  height: 40px;
  resize: none;
}
#mypage .profile .url img{
  width: 100px;
}
#mypage #banner_in_profile img{
  max-width: 350px;
}
#mypage .interview_area{
  width: 900px;
  margin: 0 auto;
}
#mypage .interview_area h2{
  font-size: 20px;
  color: #e04974;
}
#mypage table#interview{
  border-radius: 5px;
  border:1px solid #d7d7d7;
  width:900px;
  background-color: #fff;
  padding:20px;
  text-align: left;
}
#mypage table#interview tr{
  padding-top: 20px;
  padding-bottom: 20px;
}
#mypage table#interview th{
  font-size: 14px;
  color:#e04974;
  background-color: #f9f9f9;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}
#mypage table#interview td{
  font-size: 12px;
  color:#666;
  font-weight: bold;
  width:100%;
  padding-bottom: 10px;
  padding-left: 5px;
}
#mypage .interview_area p{
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  color:#e04974;
}
#mypage .link_row{
  overflow: hidden;
}
#mypage .link_row .url{
  float:left;
  margin-right: 10px;
}
#mypage .link_row .btn3{
  margin-right: 0;
}
#mypage .row2{
  margin-top: -15px;
}
#mypage .instruction{
  width:420px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  border:1px solid #d7d7d7;
  padding:10px 20px 10px 20px;
  margin-top: 20px;
}
#mypage .instruction h3{
  color:#e04974;
  margin:0;
  text-align: center;
}
#mypage .instruction p{
  font-weight:bold;
  color:#666;
  font-size: 14px;
  line-height: 2.5;
  margin:0  ;
}
#mypage .instruction .even{
  background-color: #f9f9f9;
}
/*====================  ログインページ ==========================*/
#login{
  clear: both;
  border-top: 5px solid #e04974;
  margin-bottom: -30px;
  height: 600px;
}
#login #login_form{
  width:400px;
  background:rgba(255,255,255,0.8);
  border-radius: 5px;
  margin:0 auto;
  margin-top: 100px;
  padding:0 50px 20px 50px;
}
#login #login_form h1{
  text-align: center;
  padding-top: 10px;
}
#login #login_form tr{
  font-size: 16px;
  font-weight: bold;
  color:#666;
}
#login #login_form tr input{
  width: 400px;
  line-height: 2;
}
#login #login_form p{
  text-align: center;
}
#login #login_form .submit_btn{
  width:200px;
  height:50px;
  background-color: #e04974;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  color:#fff;
  border:0px;
}
/*====================  投票ページ ==========================*/
.content_middle{
  padding-top: 30px;
  max-width: 1000px;
  margin:0 auto;
  overflow: hidden;
}
.content_middle .column1{
  width:300px;
  margin-right:40px;
  float:left;
}
.content_middle .column2{
  width:300px;
  margin-right:40px;
  float:left;
}
.content_middle .column3{
  width:300px;
  float:left;
}
/*====================  VALIDATION ==========================*/
.error{
  font-size: 12px;
  color:#e04974;
}
.error_msg{
  font-size: 12px;
  color:#e04974;
}
/*====================  Bxslider ==========================*/
.bx-wrapper{
  border:0;
}
.bx-wrapper img{
  width:500px;
  border-radius: 5px 0 0 5px;
}
}