<div id="overvoted">

  <div id="thankyou">
    <div id="content">
      <div class="message">
        <div class="arrow_box">
          <p class="text"><%= raw cannot_vote_text %></p>
        </div>
      </div>
      <div class="picture">
        <%= image_tag @contestant_profile.profile_image.thumb, :width=>'300px;' %>
      </div>
      <% unless logged_in? %>
        <div id="more_vote_btn"><a href="/users/signup" target="_blank"><%= @contestant_profile.name %>さんをもっと応援する？</a></div>
      <% end %>
    </div>
  </div>
  <div id="entry_btn" style="width:300px; margin-bottom:0; margin-top:10px;"><%= link_to "トップページに戻る",'/'  %></div>
</div>
