<div id ="login" style="background-image:url(<%= asset_path "form_background.jpg" %>); background-size:cover;" />
  <div id="login_form">
    <h1>ログイン</h1>

    <p> ミス鈴木は2016年2月をもって終了致しました．<br />たくさんのご利用ありがとうございました </p>
  </div>
</div>
