<html>
  <body>
    <%= yield %>
    <div>
      ==================<br \>
      MISS-SUZUKI | 鈴木さん限定のミスコン『ミス鈴木』<br \>
      <a href="https://miss-suzuki.com/" alt="MISS-SUZUKI | 鈴木さん限定のミスコン『ミス鈴木』">https://miss-suzuki.com/</a><br \>
      <br \>
      本メールは送信専用です．<br \>
      お問い合わせは ms.someone2015@gmail.com までお送りください．<br \>
    </div>
  </body>
</html>
